<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kreon:wght@400;700&display=swap" rel="stylesheet">
    <title>School Pool Perth</title>
</head>

<body>

    <nav class="transparent z-depth-0">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center hide-on-small-and-down"><img class="responsive-img" id="logo"
                src="./img/school_pool_logo_white.png" /></a>
            <ul id="nav-mobile" class="left">
                <li><a href="/signup">Logout</a></a></li>
                <li><a href="/members">Menu</a></a></li>
            </ul>
        
        </div>
    </nav>

   


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment.min.js" type="text/javascript"></script>
    
     {{{body}}}
  


</body>

<footer class="page-footer center" style="position:fixed;bottom:0;left:0;width:100%;">
  <div class="col s12 m6 l6">
    <h6 class="white-text">School Pool Perth - Copyright 2020 © </h6>
  </div>
</footer>