#logo {
    width: 300px;
    margin-top: 15px;
}

.container {
  background: white;
  padding: 20px 25px;
  border: 5px solid #26a69a;
  border-radius: 15px;
  height: auto;
  box-sizing: border-box;
  position: relative;
}

#menuBtn {
  width: 400px;
}

tr {
  border-style: none;
}

#noborder {
  border-bottom: 0px none white;
  
}

body {
  background-image: url(../img/road.png);
  background-color: #d1eaa3;
  background-repeat: no-repeat;
  background-size: cover;
}
.page-footer {
  max-height: fit-content;
  padding-top: 0%;
  background-color: #565656;
}

#signupFrmBtn {
  border-radius: 15px;
}

.btn-large {
  border-radius: 15px;
}