:root {
  --mainFont: 'Kreon', serif;;
}
#logo {
  width: 300px;
}
html {
height: 100%;
}
body {
background-image: url(../img/roadMap.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
font-family: var(--mainFont);
height: 100%;
width:100%;
font-family: var(--mainFont);
}
#logo {
width: 250px;
}
#signupFrm {
display: inline-block;
padding: 32px 48px 0px 48px;
background: rgba(0, 0, 0, .6);
border-radius: 10px;
font-size: 30px;
font: white;
}
