:root {
  --mainFont: "Kreon", serif;
}
#logo {
  width: 300px;
}
html {
  height: 100%;
}
body {
  background-image: url(../img/roadMap.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: var(--mainFont);
  height: 100%;
  width: 100%;
  font-family: var(--mainFont);
  margin-top: 15px;
  position:relative;
}
html::before {
    background-color:white;
    content: "";
    background-size: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity:20%;
    border-radius: 0.25rem;
}

#header-strip{
  
  position:relative;
  z-index:201;
}

#header-strip::before{
  content: "";
  background-color:#a7ffeb;
    background-size: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity:50%;
    border-radius: 0.25rem;
}

#logo {
  width: 250px;
}
#signupFrm {
  display: inline-block;
  padding: 10px 32px 0px 32px;
  
  border-radius: 10px;
  font-size: 30px;
  font: white;
}

div#content-box {
  z-index: 200;
  position: relative;
  max-width: 100%;
  max-height:100%;
  color: white;
}

div#content-box::before {
    background-color:#004d40 ;
    background-size: 100%;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2200;
    opacity:80%;
    border-radius: 0.25rem;
  }

h4.pleaseLogIn{
  height:100%;
  padding:10px;
  margin-top:20px;
  margin-bottom:10px;
}
#loginHere{
  padding:3px;
  margin:3px;
}

.input-field {
  padding:10px;
  margin:10px 10px 10px 5px;
  color:white;
}

.input-field>label  {
  color: #e0f2f1 teal lighten-5;

}
