#logo {
  max-width: 250px;
  margin-top: 8px;
}

.card {
  background: white;
  padding: 20px 25px;
  border: 5px solid #26a69a;
  border-radius: 15px;
  height: auto;
  box-sizing: border-box;
  position: relative;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}

#right-panel {
    font-family: "Roboto", "sans-serif";
    line-height: 2rem;
    padding: 2rem;
    padding-top: 0.1rem;
    background-color: #d4ffb1;
    background-image: url(../img/bg1.jpg);
    color:  green;
    font-weight: bolder;
  }
#menuBtn {
  width: 400px;
}

 /* button and input style */
  #right-panel input { 
    font-size: 1.5rem;
    border-radius: 5px;
   }
tr {
  border-style: none;
}

  #right-panel select {
    width: 100%;
    font-size: 1.5rem;
    color: brown;
    border-radius: 10px;
    background-color: lightgray;
    
  }
#noborder {
  border-bottom: 0px none white;
}

  #right-panel i {
    font-size: 0.8rem;
  }
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  #map {
    height: 10vh;
    width: 100%;
    height: 50%;
  }

  #directions-panel {
    margin-top: 10px;
    background-color: lightgray;
    padding: 10px;
    overflow: scroll;
    height: 10vh;
  }
body {
  background-image: url(../img/roadMap.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: var(--mainFont);
}

.page-footer {
  max-height: fit-content;
  padding-top: 0%;
  display: inline-block;
  background: rgba(0, 0, 0, 0.6);
  font: white;
}
#spacer {
  padding-top: 5%;
}
p {
  font-size: medium;
}

h6 {
  font-size: medium;
}

.delete {
  margin-top: 30px;
  border-radius: 15px;
}

.edit {
  margin-top: 30px;
  border-radius: 15px;
}

h2 {
  border: 5px solid rgba(0, 0, 0, 0.6);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  color: black;
}

nav .nav-wrapper {
  position: relative;
  height: 100%;
  padding-top: 0%;
  background: rgba(0, 0, 0, 0.6);
  font: white;
}


