:root {
    --mainFont: 'Kreon', serif;;
}
html {
    height: 100%;
}
body {
    background-image: url(../img/roadMap.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: var(--mainFont);
    height: 100%;
    width:100%;
}
#logo {
    width: 250px;
}
.pleaseLogIn {
    color: white;
    font-family: var(--mainFont);
}
.login {
    display: inline-block;
    padding: 32px 48px 0px 48px;
    background: rgba(0, 0, 0, .6);
    border-radius: 10px;
    font-size: 30px;
    font: white;
}
#emailHeader {
    font: white;
    font-size: 40px;
}
#passwordHeader {
    font: white;
}
.signUp {
    font-size: 30px;
}
