 <main class="container"> 
        <center>
        <div class="row">
            <img class="responsive-img" id="logo" src="./img/school_pool_logo.png" />
            <h5 class="pleaseLogIn">Enter a new address</h5>
            
        </div>    
            
        <div class="row">
            <div class="col s12">
              <div class="row" id="locationField">
                <div class="input-field col s12">
                  <i class="material-icons prefix"></i>
                  <input id="autocomplete" placeholder="Start typing your address" onFocus="geolocate()" type="text" class="acformfields"/>
                  
                </div>
              </div>
            </div>
          </div>
        

    <!-- Note: The address components in this sample are typical. You might need to adjust them for
               the locations relevant to your app. For more information, see
         https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete-addressform
    -->
    <div class="row">
        <div class="col s12">
          <div class="row form" id="addressData">
            <div class="input-field col s12">
              
                <table id="address">
                    <tr class="noborder">
                      <td class="label">Street address</td>
                      <td class="slimField"><input class="field" id="street_number" disabled="true"/></td>
                      <td class="wideField" colspan="3"><input class="field" id="route" disabled="true"/></td>
                    </tr>
                    <tr class="noborder">
                      <td class="label">City</td>
                      <td class="wideField" colspan="3"><input class="field" id="locality" disabled="true"/></td>
                    </tr>
                    <tr class="noborder">
                      <td class="label">State</td>
                      <td class="slimField"><input class="field" id="administrative_area_level_1" disabled="true"/></td>
                      <td class="label">Postcode</td>
                      <td class="wideField"><input class="field" id="postal_code" disabled="true"/></td>
                    </tr>
                    <tr class="noborder">
                      <td class="label">Country</td>
                      <td class="wideField" colspan="3"><input class="field" id="country" disabled="true"/></td>
                    </tr>
                    <tr class="noborder">
                        <td class="label">Lat/long</td>
                        <td class="wideField" colspan="3"><input class="field" id="latlong" disabled="true"/></td>
                    </tr>
                    <tr class="noborder">
                        <td class="label">Name</td>
                        <td class="wideField" colspan="3"><input class="field" id="name" placeholder="Enter a short reference name"/></td>
                    </tr>
                  </table>
                  <center>
                    <div class='row'>
                        <button type='submit' name='signupFrmBtn' class='col s12 btn btn-large waves-effect indigo' id='signupFrmBtn'>Submit</button>
                    </div>
                </center>
            </div>
          </div>
        </div>
      </div>
    
    </main>
    <script src="/js/location.js" ></script>
    <script src="/js/autocomplete.js" ></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaNCv59UWkQGavv9Z8QEh8NuVfdhGOzcg&libraries=places&callback=initAutocomplete" ></script>
    