<link rel="stylesheet" href="css/forms.css">
<div class="row">
  <div class="col s12 center">
    <img class="responsive-img" id="logo" src="./img/school_pool_logo_white.png" />
  </div>
</div>

<br>
<br>

<main class="container">
  <center>
    <div class="row">
      <h5 class="pleaseLogIn"><i class="small material-icons">home</i>Enter a new address</h5>
    </div>

    <div class="row">
      <div class="col s12">
        <div class="row" id="locationField">
          <div class="input-field col s12">
            <i class="material-icons prefix"></i>
            <input id="autocomplete" placeholder="Start typing your address" onFocus="geolocate()" type="text"
              class="acformfields" />

          </div>
        </div>
      </div>
    </div>


    <!-- Note: The address components in this sample are typical. You might need to adjust them for
               the locations relevant to your app. For more information, see
         https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete-addressform
    -->
    <div class="row">
      <div class="col s12">
        <div class="row form" id="addressData">
          <div class="input-field col s12">
            <table id="address">
              <tr class="noborder">
                <td class="label">Name</td>
                <td class="wideField" colspan="3"><input class="field" id="name"
                    placeholder="Enter a short reference name" /></td>
              </tr>
              <tr class="noborder hide">
                <td class="label">Lat/long</td>
                <td class="wideField" colspan="3"><input class="field" id="latlong" disabled="true" /></td>
              </tr>
            </table>
            <center>
              <br>
              <br>
              <div class='row'>
                <button type='submit' name='signupFrmBtn' class='col s12 btn btn-large waves-effect indigo'
                  id='signupFrmBtn'>Submit</button>
              </div>
            </center>
          </div>
        </div>
      </div>
    </div>


    <footer class="page-footer" style="position:fixed;bottom:0;left:0;width:100%;">
      <div class="col s12 m6 l6">
        <h6 class="white-text">School Pool Perth - Copyright 2020 © </h6>
      </div>
    </footer>