{{!-- <link rel="stylesheet" href="css/manage-driver.css"> --}}
<link rel="stylesheet" href="css/search-ride.css">

<center>
  {{!-- <div id="map" class="col l6 m9 s12 center"></div> --}}
  
</center>

<center id="spacer">
  <div class="container">
    <div class="row">
      <h5 class="pleaseLogIn"><i class="small material-icons">home</i>Enter your driving details</h5>
    </div>
    <div class="row">

      <form class="col s12 m12 signup" id="signupFrm" method="post">
        <div class='row'>
          <div class='input-field col s12'>
            <i class="material-icons md-18 prefix">fiber_dvr</i>
            <input class='validate' type='text' name='licenceNumber' id='licenceNumber' />
            <label for='licenceNumber'>Vehicle Licence Plate</label>
          </div>
        </div>

        <div class='row'>
          <div class='input-field col s12'>
            <i class="material-icons prefix">directions_car</i>

            <input class='validate' type='text' name='defaultVehicle' id='defaultVehicle' />
            <label for='defaultVehicle'>Vehicle Make-Model</label>
          </div>
        </div>

        <div class='row'>
          <div class='input-field col s12'>
            <i class="material-icons prefix">airline_seat_recline_normal</i>
            <input class='datepicker' value="1" type='number' min="0" max="4" name='freeSpots' id='freeSpots' />
            <label for='freeSpots'>Free spots</label>
          </div>
        </div>

        <div class='row'>
          <div class='input-field col s12'>
            <i class="material-icons prefix">location_city</i>
            <input class='validate' type="text" id='defaultRoute' name="defaultRoute" />
            <label for='defaultRoute'>Default Destination</label>
          </div>
        </div>


        <div class='row'>
          <div class='input-field col s12'>
            <i class="material-icons prefix">home</i>
            <input class='validate' type="text" id='homeAddress' name="homeAddress" />
            <label for='homeAddress'>Home Address</label>
          </div>
        </div>

        <center>
          <div class='row'>
            <button type='submit' name='btn_registerDriver' class=' col s12 btn btn-large waves-effect indigo'
              id='btn_registerDriver'><i class="material-icons prefix"> check_circle</i> Become a Driver!
            </button>
          </div>
        </center>
      </form>


      {{!-- <footer class="page-footer center" style="position:fixed;bottom:0;left:0;width:100%;">
        <div class="col s12">
          <h6 class="white-text">School Pool Perth - Copyright 2020 © </h6>
        </div>
      </footer> --}}
    </div>
  </div>
</center>

<script type="text/javascript" src="/js/manage-driver.js"></script>