<link rel="stylesheet" href="css/search-ride.css">

<nav class="transparent z-depth-0">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center hide-on-small-and-down"><img class="responsive-img" id="logo"
        src="./img/school_pool_logo_white.png" /></a>
    <ul id="nav-mobile" class="left">
      <li><a href="/signup">Logout</a></a></li>
    </ul>
  </div>
</nav>
<center class="spacer">
  <div class="container">

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Welcome <span class="member-name"></span></h2>
      </div>
    </div>

    <div class="row ">
      <div class="col-md-6 col-md-offset-3">
        {{!-- <a class="btn btn-default" href="/cms">New Post</a> --}}
        <div class="col-md-6">
          <a class="btn btn-default" href="/manage-driver">Manage Driver Details</a>
        </div>
        <a class="btn btn-default" href="/search-ride">Search Ride</a>
        <div class="col-md-6">
          <a class="btn btn-default" href="/requests-made">View Requests Made</a>
        </div>
        <div class="col-md-6">
          <a class="btn btn-default" href="/requests-received">View Requests Received</a>
        </div>
      </div>

    </div>
</center>
<footer class="page-footer center" style="position:fixed;bottom:0;left:0;width:100%;">
  <div class="col s12 m6 l6">
    <h6 class="white-text">School Pool Perth - Copyright 2020 © </h6>
  </div>
</footer>

<script type="text/javascript" src="/js/members.js"></script>