<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
  </div>
</nav>
<div class="container">

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>Welcome <span class="member-name"></span></h2>
    </div>
  </div>

  <div class="row ">
    <div class="col-md-6 col-md-offset-3">
      <a class="btn btn-default" href="/cms">New Post</a>
      <div class="col-md-6">
        <a class="btn btn-default" href="/authors">Manage Authors</a>
      </div>
      <a class="btn btn-default" href="/search-ride">Search Ride</a>
      <div class="col-md-6">
        <a class="btn btn-default" href="/requests-made">View Requests Made</a>
      </div>
      <div class="col-md-6">
        <a class="btn btn-default" href="/requests-received">View Requests Received</a>
      </div>
    </div>

  </div>

  <script type="text/javascript" src="/js/members.js"></script>