 <link rel="stylesheet" href="css/requests-made.css">

    <nav class="transparent z-depth-0">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center hide-on-small-and-down"><img class="responsive-img" id="logo" src="./img/school_pool_logo_white.png" /></a>
      <ul id="nav-mobile" class="left">
        <li><a href="/search-ride">New Request</a></li>
        <li><a href="/members">Menu</a></a></li>
      </ul>
    </div>
  </nav>


<center id="spacer">
  <div class="row">
    <div class="col s8 request-container offset-s2">
    </div>
  </div>
</center>

<footer class="page-footer center" style="position:fixed;bottom:0;left:0;width:100%;">
  <div class="col s12 m6 l6">
    <h6 class="white-text">School Pool Perth - Copyright 2020 © </h6>
  </div>
</footer>
<!-- Custom Script -->
<script src="/js/requests-made.js" type="text/javascript"></script>