
  <center>
    <div class="row">
      <div class="col m2 col s2">
        <a class="btn btn-large waves-effect indigo" href="/search-ride">New Request</a>
      </div>
      <div class="col m2 col s2">
        <a class="col s12 btn btn-large waves-effect indigo" href="/members">Member</a>
      </div>
    </div>
    <div class="row">
      <div class="col m12 request-container">
      </div>
    </div>
  </center>
  <!-- Custom Script -->
  <script src="/js/requests-made.js" type="text/javascript"></script>