{{!-- <link rel="stylesheet" href="css/requests-received.css"> --}}
<link rel="stylesheet" href="css/search-ride.css">
<!-- Custom Script -->
{{!-- <nav>

  <div class="nav-wrapper">
    <a href="#" class="brand-logo center hide-on-small-and-down"><img class="responsive-img" id="logo"
        src="./img/school_pool_logo_white.png" /></a>
    <ul id="nav-mobile" class="left">

      <li><a href="/search-ride">New Request</a></li>
      <li><a href="/members">Menu</a></li>

      <li><a href="/manage-driver">Driver Details</a></li>
    </ul>
  </div>
</nav> --}}

<div class="container">
  <div class="row" id="map">
    <p> Map goes here </p>
  </div>


  <div class="row">
    <div  class="col s12"> 
      <div id="right-panel">
        <div>
          <h5>Start Location:</h5>

          <div class='input-field col s12'>
            <input class='validate' type='text' name='start' id='start' />
            <label for='start'>Enter start location</label>
          </div>

          <h5>Requests Received:</h5>
          <i>(Ctrl+Click or Cmd+Click for multiple selection)</i> <br />
          <div class="input-field col s12">
            <select multiple id="waypoints" class="browser-default" style=" height:10vh">

            </select>
          </div>

          <h5>Common Destination:</h5>
          <div class='input-field col s12'>
            <input class='validate' type='text' name='end' id='end'/>
            <label for='end'>Enter destination</label>
          </div>

          <center>
            <input value="Check Route" type="submit" id="submit" class="btn" />
            
            <input value="Accept Request" type="submit" id="accept" class="btn red" />
          </center>
        {{!-- </div>
        <div id="directions-panel" style=" height:35vh" class="hidden"></div>
       </div> --}}
      </div>
  </div>
  
</div>




    <script src="/js/autocomplete.js" ></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCb5A0r0RMzX9hEutVhbXn1bOG4VGQyxIA&callback=initMap"></script>